@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input[type="date"] {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

